
section#category{
	background: $color_main;

	/*=============================
	FEATURED POSTS LIST
	=============================*/
	ul{
		@extend %featuredList;

		li{
			/*------ POST THUMBNAIL --------*/
			.image_holder{}


			/*------ POST CONTENT --------*/
			.info_holder{
				//min-height: 215px;
				h3{
					//padding-right: 2.875em;
				}
			}
		}
	}

	@media screen and (min-width: 500px){
		padding-bottom: $margin-mobile-sides;
	}
	
	@media screen and (min-width: $bp_tablet){
		ul{			
			li{}
		}
	}

	@media screen and (min-width: 500px) and (max-width: 920px){
		ul{	
			li{
				width: 100%;
				flex-flow: row nowrap;

				.image_holder,
				.info_holder{
					width: 50%;
					min-height: 0;
				}

				.image_holder{
					a{
						position: absolute;
						width: 100%; height: 100%;

						&:after{
							height: 100%;
							padding-bottom: 100%;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 921px){
		ul{
			margin: 0 -5px;
			li{
				margin: 0 5px;
				width: calc(50% - 10px);

				.info_holder{
					min-height: 0;
				}

				.image_holder{
					a{
						height: auto;

						&:after{
							height: auto;
							padding-bottom: percentage(75/145);
						}
					}
				}
			}
		}
	}
}



body.category section#search_results{
	ul{
		> li{

			/*=============================
			BANNER CONTAINER
			=============================*/
			&.banner_holder.fullpage,
			&.banner_holder.inline{
				display: flex;
				flex-flow: column nowrap;
				width: 100%;
				margin-left: 0;
				margin-right: 0;

				.box{
					display: block !important;
				}
				.super{
					display: none !important;
				}
			}

			
			/*=============================
			LATEST POSTS LIST
			=============================*/
			&.latest_holder{
				margin: .5em 0 0;
				padding: 32px 15px 0;
				width: calc(100% - 15px);

				.list_wrapper{
					@extend %latestList;
					padding: 0;
					margin-left: auto;
					margin-right: auto;

					> ul{
						li{
							h4{
								@include typl8-typescale(16, $typl8-font-base, $typl8-typescale-unit);
								margin-bottom: .5em;
							}
						}
					}
				}

				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					width: 100%;
					height: 15px;
					background: url($images_path+'separator_horizontal.svg') repeat-x top center;
					background-size: 60px
				}

				h2{
					font-size: 1.6875em;
					border-bottom: solid 2px #fff;
					line-height: .875;
					margin-bottom: .65em;
				}
			}
		}
	}


	/*=============================
	MEDIA QUERIES
	=============================*/
	$test: 5px;
	@media screen and (min-width: 680px){
	    flex: 1;

		ul{
			margin: 0 -$test;

			> li{
				width: calc(50% - #{($test*2)});
				margin: 0 $test $test*2;

				&.banner_holder.fullpage,
				&.banner_holder.inline{
					width: calc(50% - #{($test*2)});
					margin: 0 $test $test*2;
				}

				&.latest_holder{
					overflow: auto;
					display: flex;
					flex-flow: column nowrap;
					padding: 0;
					margin: 0 $test ($test*2);
					width: calc(50% - #{($test*2)});

					&:before{
						content: '';
						display: block;
						position: relative;
						width: 100%;
						padding-bottom: 103.2069%;
					}

					.list_wrapper{
						position: absolute;
						display: flex;
						flex-flow: column;
						width: 100%;
						height: calc(100% - 25px);
						top: 25px;
						//
						> ul.latest{
							height: 100%;
							li{
								height: 33.333%;
								padding-right: 0;

								&:after{
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}


	@media screen and (min-width: 960px){
		ul{
			> li{
				&,
				&.banner_holder.inline,
				&.latest_holder{
					width: calc(33.33% - #{($test*2)});
				}
				&.banner_holder.fullpage{
					width: 100%;

					.box{
						display: none !important;
					}
				}
			}
		}
	}
}