$category-list: (
    '9am-6pm': $color1,
    '6pm-8pm': $color2,
    '8pm-finde': $color3
);



body.category{
	background: #fff;
}
section#category{
    color: #000;
    
    h1.archive-title{
        color: #fff;
        text-align: center;
        font-family: $header-font;
        text-transform: uppercase;
        @extend .font-epsilon;
        
        margin: 0 auto;
        padding: .5em $mobile-padding;
        width: 100%;
        background: $color_main;
    }
    
    @each $category, $color in $category-list{
        &.category-#{$category}{
            h1.archive-title{
                background: $color;
            }
            
            ul.search_results{ 
                > li{
                    .category{
                        background: $color;
                    }
                }
            }
        }
    }
    
    
    .content_wrapper{
		position: relative;
        display: flex;
        flex-flow: column nowrap;
        
        ul.search_results{ 
            position: relative;
            margin: 0 auto;
            padding: 1.5em;
            list-style: none;


            > li{
                position: relative;
                display: flex;
                flex-flow: column nowrap;
                padding-bottom: 1em;
                margin-bottom: 1.25em;
                border-bottom: solid 1px #aaa;

                .category{
                    position: relative;
                    display: inline-block;
                    margin-bottom: .5em;
                    font-family: $header-font;
                    text-transform: uppercase;
                    font-size: 12px;

                    a{
                        display: block;
                        padding: .5em 1em;
                        color: #fff;
                        text-decoration: none;
                    }
                }

                .photo_container{
                    position: relative;
                    @include responsive-container( percentage(200/320) );
                    overflow: hidden;

                    a{
                        display: block;
                        width: 100%; height: 100%;

                        img{
                            position: absolute;
                            @include center-content(50%, 50%); 
                            @include responsive-image();
                        }
                    }
                }

                .info_container{
                    position: relative;

                    h2{
                        color: #000;
                        @extend .font-epsilon;
                        margin: 0 auto .32em;
                        font-weight: normal;

                        a{
                            color: #000;
                            text-decoration: none;
                        }
                    }

                    .date{
                        font-weight: 300;
                        font-size: 13px;
                        margin: 0 auto .32em;
                    }

                    .excerpt{
                        font-size: 14px;
                        p{
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    
    
    
    /*=============================
	SIDEBAR
	=============================*/
	aside{
		position: relative;
        display: none;
        background: #f3f0f0;

		& > div{
			margin-bottom: 10px;
            
            &:last-child{
                margin-bottom: 0
            }
		}

		
		/*------ BANNER HOLDER --------*/
		.banner_holder{
			margin-left: -$mobile-padding;
			margin-right: -$mobile-padding;
			background: #dedede;
            
            img{
                display: block
            }
		}



		/*------ RELATED :: MAIN LIST --------*/
		.related{
			//margin-bottom: 1.25em;
			//padding-bottom: 1em;

			// Title
			h4{
				display: block;
				padding: .5em .875em .4em;
				margin-bottom: .875em;
                
				@extend .font-epsilon;
                line-height: 1;
                font-weight: 400;
                font-family: $header-font;
                text-transform: uppercase;
				color: #FFF;
				background: $color_main;
			}

			> ul{
                position: relative;
                margin: 0; padding: 0;
                list-style: none;
                
				li{
                    position: relative;
					width: 100%;
					margin-bottom: 10px;
                    overflow: hidden;
                    
                    &:last-child{
                        margin-bottom: 0;
                    }
                    
                    .photo_container{
                        @include responsive-container(percentage(250/300));
                        
                        a{
                            position: absolute;
                            width: 100%; height: 100%;
                            top: 0; left: 0;
                        }
                        
                        img{
                            position: absolute;
                            @include responsive-image();
                            @include center-content(50%, 50%)
                        }
                    }
                    
                    .info_container{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 45%;
                        
                        a{
                            color: #fff;
                            text-decoration: none;
                        }
                        
                        h2{
                            margin: 0 auto;
                            padding: 0 1em;
                            margin-top: 10px;
                            font-size: 1.08em;
                            font-family: $header-font;
                            font-weight: 400;
                            position: absolute;
                            @include center-content(0, 50%);
                        }
                        
                        .meta{
                            position: absolute;
                            top: 0; left: 0;
                            color: #fff;
                            
                            > div{ display: inline-block; }
                            
                            .category{
                                padding: .2em .5em;
                            }
                        }
                    }
                    
                    
                    @each $category, $color in $category-list{
                        &.category-#{$category}{
                            .info_container{
                                background-color: rgba($color, .75);

                                .meta{
                                    .category{ background-color: $color; }
                                }
                            }
                        }
                    }
                    
				}
			}
			

			@media screen and  (max-width: $bp_desktopSmall - 1px ){
				> ul{

					li{

						.info_holder{
						}
					}
				}
			}
		}
	}
    
    
    
    
    @media screen and ( min-width: $bp_tablet){
        display: flex;
        flex-flow: row nowrap;
        
        h1.archive-title{
            display: none;;
        }
		
        /*=============================
		ARTICLE
		=============================*/
        .content_wrapper{
			flex: 1;
			padding-right: 20px;
            
            ul.search_results{ 
                
                li{
                    flex-flow: row nowrap;   
                    .category{
                        display: none;
                    }
                    
                    .photo_container{
                        align-self: flex-start;
                        flex: 1 0 140px;
                        margin-right: 1em;
                    }
                }
            }
        }
        
        
        /*=============================
		SIDEBAR
		=============================*/
        aside{
            display: block;
			width: calc(300px + 20px);
            padding: 10px;
            margin: 0 (-$mobile-padding) 0 0;

			.banner_holder{
				margin-left: auto;
				margin-right: auto;
			}
        }
	}
    
    
    
    
        
    @media screen and ( min-width: 900px){
    }


	@media screen and ( min-width: $bp_desktopSmall){


		/*=============================
		ARTICLE CONTENT
		=============================*/
		.content_wrapper{
			flex: 1;
			padding-right: 20px;
	
			h3{
				font-size: 1.44em;
				font-weight: 400;
			}

			.meta{
				margin-bottom: 7px;

				.author{
				}
			}

			.social_holder{
				margin-bottom: 17px;
			}

			.content_holder{
				blockquote{
					width: 75%;
					margin-left: 0; margin-right: 0;
				}
			}
		}
        
        
        /*=============================
		SIDEBAR
		=============================*/
        aside{
            margin: 0;
        }
		
	}
}


