

footer{
    order: 3;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    background: $color_main;
    
    
    // LOGO
    .logo,
    .logo_sponsor{
        position: relative;
        width: 50%;
        height: 4em;
        text-align: center;
        
        img{
           position: absolute;
            width: 100%; height: auto;
            max-width: 60px;
            top:0; left: 0;
            @include center-content(50%, 50%);
            
        }
    }
    .logo_sponsor{
        
        img{
            max-width: 75px;
        }
    }
    
    .social-networks{
        order: 1;
        width: 100%;
        padding: 10px $mobile-padding 5px;
        text-align: center;
        background: darken($color_main, 10%);
        
        
        a{
            display: inline-block;
            @include hide-text();
            @include responsive-container(100%);
            margin: 0 10px;
            width: 25px;
            
            color: #fff;
            text-decoration: none;
            background: url($path_images+'icon-menu-facebook.svg') no-repeat center;
            background-size: contain;
            
            &.facebook{
                background-image: url($path_images+'icon-menu-facebook.svg');
            }
            &.whatsapp{
                background-image: url($path_images+'icon-whatsapp.svg');
            }
        }
    }
    
    .menu{
        position: relative;
        padding: 0 $mobile-padding;
        margin: 0.25em auto 0.5em;
        
        ul{
            list-style: none;
            margin: 0; padding: 0;
            text-align: center;
            font-size: 0;
            
            li{
                display: inline-block;
                padding: 2px 7px;
                margin-bottom: 5px;
                
                font-size: 12px;
                font-family: $header-font;

                &:first-child{
                    padding-left: 0;
                };
                &:last-child{
                    padding-right: 0;
                    border: none;
                };
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
    
    
    
    
    @include mediaQuery($bp_tablet) {
        margin-top: 1em;
        
        .logo{
            width: 20%;
            img{
                max-width: 70px;
                margin-top: -6px;
            }
        }
        .logo_sponsor{
            width: 20%;
            order: 1;
            img{
                max-width: 90px;
            }
        }
        
        .menu{
            width: 60%;
            align-self: center;
            
            ul{
                li{
                    border-right: solid 1px #fff;
                }
            }
        }
    }
}