$category-list: (
    '9am-6pm': $color1,
    '6pm-8pm': $color2,
    '8pm-finde': $color3
);



body.single{
	background: #fff;
}
section#single{
    color: #000;
    
	/*------ ARTICLE --------*/
	article{
		border-bottom: solid 1px #000;
		padding: 0 $mobile-padding;
		margin: 0 auto;
		max-width: 32em;
		display: flex;
		flex-flow: column nowrap;	
		padding-top: 1em;
		padding-bottom: 1em;
	}

    @each $category, $color in $category-list{
        article.category-#{$category}{
            .title_holder{
                ul.tags{
                    li{
                        a{
                            color: #fff;
                            background: $color;
                        }
                    }
                }
            }
        }
    }
    
    
    
    
    
    /////////////////////////////
    // TITLE / TAGS CONTAINER
    /////////////////////////////
    .title_holder{
        position: relative;
			width: 100%;

        /*------ TITLE --------*/
        h2{
            color: #000;
            text-transform: none;
            line-height: 1.1;
            @extend .font-delta;
            margin: 0 auto .32em;
        }



        /*------ SUBTITLE --------*/
        h3{
            color: #808285;
            text-transform: none;
            font-weight: normal;
            //line-height: 1.1;
            margin: 0 auto .875em;
            @extend .font-zeta;
        }

        /*------ TAGS LIST --------*/
        ul.tags{
            position: relative;
            list-style: none;
            margin: 0 0 1em; padding: 0;

            // ITEM
            li{
                display: inline-block;
                margin: 0 .12em 5px 0;
                
                &:last-child{
                    margin-right: none;
                }

                a{
                    color: $color_main;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $header-font;
                    font-size: 1em;
                    padding: .3em .5em .25em;
                }
            }
        }
    }

    
    
    

	/*=============================
	ARTICLE CONTENT
	=============================*/
	.article_wrapper{
		position: relative;



		/*------ AUTHOR / META --------*/
		.meta{
			font-size: .8125em;
            font-weight: 300;
			
			// AUTHOR INFO
			.author{
				margin-bottom: 10px;
                display: inline-block;
				
				// Links
				a{
					color: #e31a1a;
					text-decoration: none;
					text-transform: none;

					&.link{
						float: right
					}
				}
                strong{
					color: #e31a1a;
                }
			}


			// DATE
			.date{
				color: #000;
				display: inline-block
			}
		}



		/*------ SOCIAL SHARE --------*/
		.social_holder{
			position: relative;
			margin-bottom: 10px;

			ul{
				position: relative;
				list-style: none;
				margin: 0; padding: 0;
                display: flex;
                flex-direction: row;

				// ITEM
				li{
					position: relative;
                    width: 50%;
                    margin: 0 3px 0 0;
                    
                    &:last-child{
                        margin-right: 0;
                    }
                    

					a{
                        display: block;
                        height: 40px;
						color: #fff;
                        @include hide-text();
						text-decoration: none;
                        text-align: center;
						transition: background-color .18s;

						&.facebook{
							background: #2890c6 url($path_images+'icon-menu-facebook.svg') no-repeat center;
                            background-size: 22px;
                            
							&:hover{
								background-color: lighten(#2890c6, 5%);
							}
						}
						&.whatsapp{
							background: #00a859 url($path_images+'icon-whatsapp.svg') no-repeat center;
                            background-size: 24px;

							&:hover{
								background-color: lighten(#00a859, 5%);
							}
						}
					}
				}
			}
		}
        
        
        /*------ TAGS LIST --------*/
		ul.tags{
            position: relative;
            list-style: none;
            margin: 1em auto; padding: 0;
            
            color: $color_main;
            text-transform: uppercase;
            font-family: $header-font;
            font-size: .75em;
            
            // ITEM
            li{
                display: inline-block;
                margin-right: .5em;
                &:last-child{
                    margin-right: none;
                }

                a{
                    color: $color_main;
                }
            }
        }
        
        
        
        /*------ AD UNITS --------*/
        .ad_container{
            margin: auto;
            margin-bottom: 1em;
            
            .ad_unit{
                padding: 0;
            }
            
            @media screen and (max-width: 320px){
                margin-left: #{-$mobile-padding};
                margin-right: #{-$mobile-padding};
            }
        }



		/*------ ARTICLE CONTENT --------*/
		.content_holder{
			position: relative;

			.cover{
				position: relative;
				margin-bottom: 1em;
			}

			a{
				color: #31b6bf !important;
                text-decoration: none;
				transition: color .18s;
				font-weight: 900;

				&:hover{
					color: $color_shades !important;
				}
			}

			img{
				@include responsive-image();
			}

			.image_wrapper{
				position: relative;
				width: 100%;
				max-width: 620px;
				margin: 0 auto 1em;
				//padding: 1em 0;
			}

			> iframe{
				width: 100% !important;
				max-width: 420px !important;
                height: auto;
				margin: auto !important;
			}


			.video_container{
				@include responsive-container(56.2060%);
				width: 100%;
				max-width: 600px;
				margin: 0 auto 1em;
				position: relative;

				iframe, object, embed{
					position: absolute;
					width: 100%; height: 100%;
					top: 0; left: 0;
				}
			}

			.wp-caption{
				display: none;
				width: 100%;
			}


			//BLOCKQUOTE
			blockquote{
				position: relative;
				width: 80%;
				margin: 0 auto 1em;
				padding: 0;

                @extend .font-zeta;
				color: #000;
				font-style: italic;
				font-weight: 300;
				line-height: 1.5;
				text-align: left;

				a{
					font-size: .75em;
					font-weight: normal;
				}
                
                &:before{
                    display: none;
                }

				@media screen and (min-width: $bp_tablet){
				    //font-size: 1.7em;
					//line-height: 1.25;
				}
			}

			// TITLE
			h4.note{
				color: #000;
			    @extend .font-zeta;
				margin-bottom: 0;
				font-style: italic;
			}
            h2{
				color: #000;
			    @extend .font-zeta;
				margin: 0 auto .45em;
            }

			////////
			p.footer{
				color: #6d6e71;
				font-weight: normal;
                @extend .font-zeta;	
			}
			p.note_text{
				color: #000;
				font-weight: 300;
				font-style: italic;
                @extend .font-zeta;		

				a{
					color: #000;
					transition: color .18;
					text-decoration: underline;
					font-weight: normal;

					&:hover{
						color: $color_shades;
					}
				}
			}

			// LIST
			ul.styled_list{
				margin: 0; padding: 0;
				list-style: none;
				
				// ITEM
				li{
					a{
						color: #000;
						font-weight: 300;
						font-style: italic;
						transition: color .18;

						&:hover{
							color: $color_shades;
						}
					}
				}
			}


		}		
	}






	/*=============================
	SIDEBAR
	=============================*/
	aside{
		position: relative;
        display: none;
        background: #f3f0f0;

		& > div{
			margin-bottom: 10px;
            
            &:last-child{
                margin-bottom: 0
            }
		}

		
		/*------ BANNER HOLDER --------*/
		.banner_holder{
			margin-left: -$mobile-padding;
			margin-right: -$mobile-padding;
			background: #dedede;
            
            img{
                display: block
            }
		}



		/*------ RELATED :: MAIN LIST --------*/
		.related{
			//margin-bottom: 1.25em;
			//padding-bottom: 1em;

			// Title
			h4{
				display: block;
				padding: .5em .875em .4em;
				margin-bottom: .875em;
                
				@extend .font-epsilon;
                line-height: 1;
                font-weight: 400;
                font-family: $header-font;
                text-transform: uppercase;
				color: #FFF;
				background: $color_main;
			}

			> ul{
                position: relative;
                margin: 0; padding: 0;
                list-style: none;
                
				li{
                    position: relative;
					width: 100%;
					margin-bottom: 10px;
                    overflow: hidden;
                    
                    &:last-child{
                        margin-bottom: 0;
                    }
                    
                    .photo_container{
                        @include responsive-container(percentage(250/300));
                        
                        a{
                            position: absolute;
                            width: 100%; height: 100%;
                            top: 0; left: 0;
                        }
                        
                        img{
                            position: absolute;
                            @include responsive-image();
                            @include center-content(50%, 50%)
                        }
                    }
                    
                    .info_container{
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 45%;
                        
                        a{
                            color: #fff;
                            text-decoration: none;
                        }
                        
                        h2{
                            margin: 0 auto;
                            padding: 0 1em;
                            margin-top: 10px;
                            font-size: 1.08em;
                            font-family: $header-font;
                            font-weight: 400;
                            position: absolute;
                            @include center-content(0, 50%);
                        }
                        
                        .meta{
                            position: absolute;
                            top: 0; left: 0;
                            color: #fff;
                            
                            > div{ display: inline-block; }
                            
                            .category{
                                padding: .2em .5em;
                            }
                        }
                    }
                    
                    
                    @each $category, $color in $category-list{
                        &.category-#{$category}{
                            .info_container{
                                background-color: rgba($color, .75);

                                .meta{
                                    .category{ background-color: $color; }
                                }
                            }
                        }
                    }
                    
				}
			}
			

			@media screen and  (max-width: $bp_desktopSmall - 1px ){
				> ul{

					li{

						.info_holder{
						}
					}
				}
			}
		}
	}
    
    
    
    
    
    /*=============================
	LATEST POSTS
	=============================*/
    .latest_posts{
        display: none;
        color: #fff;
        
        h4{
            padding: .5em .5em .32em;
            margin: 0 auto 4px;
            
            @extend .font-epsilon;
            font-family: $header-font;
            text-align: center;
            text-transform: uppercase;
            background: $color_main;
        }
        
        ul{
            @extend %recent_posts_list;
            padding: 0 2px;
            
            li{
                border-bottom: none;
                margin-bottom: 2px;
                
                &:nth-child(odd){
                    border-right: solid transparent 1px
                }
                &:nth-child(even){
                    border-left: solid transparent 1px
                }
            }
        }
    }
    
    






	@media screen and ( min-width: $bp_tablet){
		/*=============================
		ARTICLE
		=============================*/
		article{
		    border-bottom: none;
			max-width: none;	
			flex-flow: row wrap;
		}
        
        .title_holder{
            padding-right: 10%;    
        }
        
        .article_wrapper{
			flex: 1;
			padding-right: 20px;
        }
        
        
        .latest_posts{
            display: block;
        
            ul{
                li{
                    .photo_container{
                        @include responsive-container(percentage(120/270))
                    }
                    
                    .info_container{
                        .meta{
                            .category{ width: 45%; }
                        }
                    }
                }
            }
        }
        
        /*=============================
		SIDEBAR
		=============================*/
        aside{
            display: block;
			width: calc(300px + 20px);
            padding: 10px;
            margin: 0 (-$mobile-padding) 0 0;
            align-self: flex-start;

			.banner_holder{
				margin-left: auto;
				margin-right: auto;
			}
        }
	}
    
    
    
    
        
    @media screen and ( min-width: 900px){
        .latest_posts{
            display: block;
        
            ul{
                padding: 0;
                
                li{
                    width: 25%;
                    
                    &:nth-child(odd),
                    &:nth-child(even){
                        border: solid 1px transparent;
                        border-top: none;
                        border-bottom: none;
                    }
                    &:first-child{
                        border-left: none;
                    }
                    &:last-child{
                        border-right: none;
                    }
                    
                    .photo_container{
                        @include responsive-container(percentage(200/270))
                    }
                }
            }
        }
    }


	@media screen and ( min-width: $bp_desktopSmall){

		/*------ FULLPAGE BANNER --------*/
		.banner_holder.fullpage{
			display: block;
			width: calc(100% + #{$mobile-padding*2});
			margin: 0 #{-$mobile-padding};
		}
        
        
        .latest_posts{
            h4{
                display: none;
            }
            
            ul{
                li{
                    .photo_container{
                        @include responsive-container(percentage(160/270))
                    }
                }
            }
        }


		/*=============================
		TITLE / TAGS CONTAINER
		=============================*/
		.title_holder{
			margin-bottom: .5em;
			padding-top: 20px;

			h2{
				font-size: 1.7em;
				//font-size: 3.325em;
				line-height: 1;
				margin-bottom: .25rem;
				//padding-right: .5em;
			}
		}


		/*=============================
		ARTICLE CONTENT
		=============================*/
		.article_wrapper{
			flex: 1;
			padding-right: 20px;
	
			h3{
				font-size: 1.44em;
				font-weight: 400;
			}

			.meta{
				margin-bottom: 7px;

				.author{
				}
			}

			.social_holder{
				margin-bottom: 17px;
			}

			.content_holder{
				blockquote{
					width: 75%;
					margin-left: 0; margin-right: 0;
				}
			}
		}
        
        
        /*=============================
		SIDEBAR
		=============================*/
        aside{
            margin: 0;
        }
		
	}
}


