$color_main: #385568;
$color_secondary: #49505c;
$color_shades: #428f9b; //#e5e5e5;
$color1: #478295;
$color2: #d3b111;
$color3: #dd5656;

$path_images: 'images/';
$path_fonts: 'fonts/';
$mobile-padding:  1.25rem;
$max-width: 1200px;

$bp_small: 540px;
$bp_tablet: 767px;
$bp_desktopSmall: 1024px;
$bp_desktop: 1100px;



